/*.bin
/*.mode
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config
/config.log
/config.status
/configure
/modes
/stamp-h1
/INSTALL
/ap_include.am
/install-sh
/missing
/*.hfst
/*.gz
/*.pc
/*.zhfst
/.DS_Store
/*-*.prob
/.deps
/config.in
/test/*-output.txt
