* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-pt-gl.gl-pt.t1x -text
/apertium-pt-gl.gl.dix -text
/apertium-pt-gl.gl.tsx -text
/apertium-pt-gl.post-gl.dix -text
/apertium-pt-gl.post-pt.dix -text
/apertium-pt-gl.pt-gl.dix -text
/apertium-pt-gl.pt-gl.t1x -text
/apertium-pt-gl.pt.dix -text
/apertium-pt-gl.pt.tsx -text
/autogen.sh -text
/config.in -text
/configure.ac -text
/gl-pt-latin1.prob -text svneol=unset#unset
/gl-pt.prob -text svneol=unset#unset
/modes.xml -text
/pt-gl-latin1.prob -text svneol=unset#unset
/pt-gl.prob -text svneol=unset#unset
